.list-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10px;
}

.json-output {
  background-color: #ffffff !important;
  padding: 10px;
  height: calc(100vh - 225px);
  width: 100%;
  overflow: scroll;
  cursor: text;
}
